<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:label="METMC OS"
        android:theme="@style/Theme.METMCOS"
        android:supportsRtl="true"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    
        <activity
            android:name=".linux.LinuxDesktopActivity"
            android:screenOrientation="landscape"
            android:resizeableActivity="true" />

        <activity
            android:name=".linux.LinuxTerminalActivity"
            android:screenOrientation="landscape"
            android:resizeableActivity="true" />

    </application>

</manifest>
